<ion-header>
  <ion-toolbar>
    <ion-title>Listado de tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let tarea of tasks">
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{tarea.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon *ngIf="tarea.completed" name="checkmark" color="success" slot="start"></ion-icon>
            {{tarea.description}}
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="deleteTarea(tarea.id)">
          Borrar
        </ion-item-option>
        <ion-item-option color="primary" expandable (click)="verTarea(tarea.id)">
          Ver
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="verTarea()">Crear tarea</ion-button>
  </ion-toolbar>
</ion-footer>